mixin form(id, privacy, textfield, captcha, btn="Отправить")
    form(id= id + "Form" novalidate)
        fieldset.form__fields.form__hide-success
            .form__group
                label.form__label(for= id + "Name") Ваше имя *
                input.form__control(id= id + "Name" name='name', type='text', required)

            .form__group
                label.form__label(for= id + "Email") E-mail *
                input.form__control(id= id + "Email" name='email', type='email', required)

            .form__group
                label.form__label(for= id + "Phone") Телефон *
                input.form__control.phone-mask--js(id= id + "Phone" name='phone', type='text', required)

            if textfield
                .form__group
                    label.form__label.form__label--textarea(for= id + "Mess") Текст сообщения *
                    textarea.form__control.form__control--textarea(id= id + "Mess", name="message", required)

            if privacy
                .form__group
                    .custom-control.custom-checkbox
                        input.custom-control-input#remember(type="checkbox", required)
                        label.custom-control-label(for="remember") Я даю свое согласие на обработку <a href="#" target="_blank">персональных данных</a>.

            if captcha
                .form__group.recaptcha

            input(type='hidden', name='go', value= id)

            if block
                block

            .form-group.mt-40
                button.btn--js.btn.btn-dark.btn-lg.btn-block(type='submit')= btn