.form
    form.form__form#feedbackForm(action="#" novalidate)
        fieldset.form__fields.js-form-fields
            legend.form__title Форма обратной связи

            .form__row
                label.form__label(for="fbName") Ваше имя #[span.form__star *]
                input.form__control#fbName(name="name" type="text" required)

            .form__row
                label.form__label(for="fbEmail") Ваше email #[span.form__star *]
                input.form__control#fbEmail(name="email" type="email" required)

            .form__row
                label.form__label(for="fbMessage") Ваше сообщение #[span.form__star *]
                textarea.form__control.form__control--textarea#fbMessage(name="message" required)

            .form__row.js-form-button
                button.form__btn.js-form-submit(type="submit") Отправить

        input(type="hidden", name="go", value="feedback")
