block variables

doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name="theme-color" content="#168dd3")
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        meta(name='viewport', content='initial-scale=1.0, width=device-width')
        title #{title}

        link(rel='stylesheet', href='/wp-content/demos/simple-ajax-form/css/main.min.css')

        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->

    body
        #page
            .container.maincontainer
                block columns

        //- Callback form
        #callback.zoom-anim-dialog.mfp-hide.white-block.callback-block
            form#callbackForm.form__form.callback-form(action='#')
                fieldset.form__fields.form__hide-success
                    legend.form__title.text-center.mb-3 Мы вам перезвоним!
                    .form-group
                        input#name.form-control(name='name', type='text', placeholder='Ваше имя *', required)

                    .form-group
                        input#phone.form-control(name='phone', type='tel', placeholder='Ваш телефон *', required)

                    .form-group.recaptcha
                    input(type='hidden', name='go', value='callback')

                    .form-group
                        button.btn-submit.btn.btn-dark.btn-block(type='submit') Отправить

        //- Include assets
        script(src='//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='/wp-content/demos/simple-ajax-form/js/scripts.min.js')