extends ./base/base
include components/form/form

block variables
    - var title = 'Простая форма на ajax'

block columns
    main.content__no-cols.col-12
        h1.text-center Форма связи

        //- Feedback form
        .row.justify-content-center
            .col-md-6
                .form
                    +form('feedback', true, true, true)
                        .form-group
                            .alert.alert-warning Каптча работает в тестовом режиме

        h2.h1.text-center.mt-50 Форма в модальном окне
        .modal-btn-container.text-center
            a.popup-form--js.btn.btn-dark.px-5(href='#callback') Заказать звонок



