include ../mixins/pug/svg-icon
block variables

doctype html
html(lang="ru")
    head
        meta(charset='UTF-8')
        meta(name="theme-color" content="#10cfe6")
        meta(http-equiv='X-UA-Compatible', content="IE=edge")
        meta(name='viewport', content='initial-scale=1.0, width=device-width')

        title #{title}
        link(rel='stylesheet', href='./css/main.dev.css')

        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->

    body(class=pageClass)
        .container.pt-80
            .row
                block columns

        //- Include callback
        #callback.zoom-anim-dialog.mfp-hide.mfp-white-block
            include ../components/callback/callback

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='./js/scripts.js')

        block script
